.display{
    background-color:#222;
    height: 20vh;
    padding:2px;
}

.result{
    
    height:10vh;
    color:black;
    background-color:#bccd95;
    font-size:2.5em;
    text-align:right;
}

.history{
    height:9vh;
    color:black;
    background-color:#bccd95;
    font-size:2em;
    text-align:right;

}