.calculator{
    background-color:#3d4543;
    border-radius:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100vh;
    left:40%;
}

.blackcontainer{
    padding-left: 15px;
    padding-right: 15px;
}

