

.buttonstyle{
    margin-top: 3vh;
    width:15vw;
    height:9.6vh;
    border:none;
    border-radius:8px;
    cursor:pointer;
    border-top:2px solid transparent;
    font-size: 23px;
}

.buttongrey{
    color:white;
    background-color:#6f6f6f;
    border-bottom:black 2px solid;
    border-top:2px #6f6f6f solid;

}

.buttonblack{
    color:white;
    background-color: rgb(48, 44, 44);
    border-bottom:black 2px solid;
    border-top:2px rgb(48, 44, 44) solid;
}
.buttonpink{
    color:black;
    background-color:#ff4561;
    border-bottom:black 2px solid;
}

.buttonorange{
    color:black;
    background-color:rgb(243, 141, 57);
    border-bottom:black 2px solid;
    border-top:2px FF9933 solid;
}
